<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.sabpaisa.droid.sabpaisa"
    android:installLocation="auto"
    android:versionCode="15"
    android:versionName="1.4.1">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.WRITE_SMS"
        tools:node="remove" />

    <application
        android:name=".AppController"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,allowBackup">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sabpaisa1234" />

        <activity
            android:name="com.gun0912.tedpermission.TedPermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.Permission"
            tools:replace="android:screenOrientation" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".VerifyMobile" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".UPIBankList" />
        <activity android:name=".UIN" />
        <activity android:name="com.braunster.chatsdk.activities.ChatSDKLoginActivity" />
        <activity android:name=".Util.SkipClientDetailsScreen" />
        <activity android:name=".Util.FullViewOfClientsProceed">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.FullViewOfClientsProceed" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeedDetails" />
        <activity android:name=".MainActivitySkip">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.MainActivitySkip" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".GroupDetails" />
        <activity android:name=".Util.PrivacyPolicyActivity" />
        <activity android:name=".Util.ProfileNavigationActivity" />
        <activity android:name=".Util.RateActivity" />
        <activity android:name=".Util.SettingsNavigationActivity" />
        <activity android:name=".Util.ShareActivity" />
        <activity android:name=".RegisterPasscode" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpiSdkHandshake" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Util.LoginActivityWithoutSharedPreference">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.Util.LoginActivityWithoutSharedPreference" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityWithoutSharedPrefernce">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.MainActivityWithoutSharedPrefernce" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountInfoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SetmPIN" />
        <activity android:name=".SuccessMPIN" />
        <activity android:name=".SendMoneyActivity" />
        <activity android:name=".RequestMoney" />
        <activity
            android:name=".BeneficiaryDetail"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BeneficiaryRequestMoney"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SendConfirmUPImPIN" />
        <activity android:name=".TransactionResult" />
        <activity android:name=".SendAccountIFSC" />
        <activity android:name=".TransactionsActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".TestScrollPager">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".SocialPayment" />
        <activity android:name=".ChatDetail" />
        <activity
            android:name=".SendMoneyDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".SendMoneyAcIFSCDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".SendConfirmUPImPINDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".TransactionResultDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".Util.ForgotActivity"
            android:label="@string/title_activity_forgot"
            android:theme="@style/AppTheme" />



        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--
        <activity
            android:name=".Util.MainActivitySkip"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".Util.FullViewOfClientsProceed"></activity>
        -->
        <activity
            android:name=".Proceed_Feed_FullScreen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Proceed_Group_FullScreen"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TransactionReportNav" />
        <activity android:name=".Report" />
        <activity android:name=".UPIActivationActivity" />

        <!-- Firebase Notifications -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <receiver
            android:name=".Button_Listerner"
            android:enabled="true">
            <intent-filter>
                <action android:name="button_Clicked" />
            </intent-filter>
        </receiver>

        <activity android:name=".NumberOfGroups" />
        <activity android:name=".Reportt" />
        <activity android:name=".AllTransactionSummary" />
        <activity android:name=".AllContacts" />
        <activity
            android:name=".DeepLinkActivity"
            android:label="@string/app_name">

            <!-- [START deep_link_filter] -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="portal.sabpaisa.in"
                    android:scheme="http" />
                <data
                    android:host="portal.sabpaisa.in"
                    android:scheme="https" />
            </intent-filter>
            <!-- [END deep_link_filter] -->
        </activity>
        <activity android:name=".MembersProfile" />
        <activity android:name=".PrivateGroupFeeds" />
        <activity android:name=".ChangePassword" />
        <activity
            android:name=".NotificationPopUPActivity"
            android:theme="@style/AppTheme.popup" />
        <activity android:name=".SharingActivity" />
        <activity android:name=".ImageViewActivity" />

        <provider
            android:name=".Util.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".DisplayActivity" />
        <activity android:name=".AddFeed" />
        <activity android:name=".AddGroup" />
        <activity android:name=".AddMember" />
        <activity android:name=".AddMemberTo_A_Group" />
        <activity android:name=".EditFeed" />
        <activity android:name=".EditGroup" />
        <activity android:name=".PendingListOfUsers" />
        <activity android:name=".BlockedUserList" />
        <activity android:name=".FilterActivity1" />
        <activity android:name=".AddMemberTo_A_PrivateFeed" />
        <activity android:name=".PrivateFeedMembersList"></activity>
    </application>

</manifest>