<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.sabpaisa.droid.sabpaisa"
    android:installLocation="auto"
    android:versionCode="4"
    android:versionName="1.3">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sabpaisa1234" />

        <activity
            android:name=".LogInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyMobile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FilterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UPIBankList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UIN"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.braunster.chatsdk.activities.ChatSDKLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.SkipClientDetailsScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.FullViewOfClientsProceed"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.FullViewOfClientsProceed" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivitySkip"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.MainActivitySkip" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroupDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.PrivacyPolicyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.ProfileNavigationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.RateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.SettingsNavigationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.ShareActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterPasscode"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpiSdkHandshake"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Util.LoginActivityWithoutSharedPreference"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.Util.LoginActivityWithoutSharedPreference" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityWithoutSharedPrefernce"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.MainActivityWithoutSharedPrefernce" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetmPIN"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuccessMPIN"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendMoneyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestMoney"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeneficiaryDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BeneficiaryRequestMoney"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SendConfirmUPImPIN"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransactionResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendAccountIFSC"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransactionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestScrollPager"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".SocialPayment"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendMoneyDialog"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".SendMoneyAcIFSCDialog"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".SendConfirmUPImPINDialog"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".TransactionResultDialog"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".Util.ForgotActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_forgot"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".Util.SmsReceiver"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--
        <activity
            android:name=".Util.MainActivitySkip"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".Util.FullViewOfClientsProceed"></activity>
        -->
        <activity
            android:name=".Proceed_Feed_FullScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Proceed_Group_FullScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.LogoutNavigationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransactionReportNav"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Report"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UPIActivationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.Nagationfullview"
            android:configChanges="orientation"
            android:label="@string/title_activity_nagationfullview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Firebase Notifications -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <activity
            android:name=".Util.ProfileNavigationActivitySkip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivitySkipWithoutSharedPrefernce"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="in.sabpaisa.droid.sabpaisa.MainActivitySkipWithoutSharedPrefernce" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileNavigationActivityFullViewProceed"
            android:screenOrientation="portrait" />
        <activity android:name=".NumberOfGroups" />
        <activity android:name=".Reportt" />
        <activity android:name=".AllTransactionSummary" />
        <activity android:name=".AllContacts" />
        <activity
            android:name=".DeepLinkActivity"
            android:label="@string/app_name">

            <!-- [START deep_link_filter] -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="portal.sabpaisa.in"
                    android:scheme="http" />
                <data
                    android:host="portal.sabpaisa.in"
                    android:scheme="https" />
            </intent-filter>
            <!-- [END deep_link_filter] -->
        </activity>
        <activity android:name=".MembersProfile" />
        <activity android:name=".PrivateGroupFeeds" />
        <activity android:name=".ChangePassword"></activity>
    </application>

</manifest>