<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.sabpaisa.droid.sabpaisa">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".VerifyMobile" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".FeedDetails" />
        <activity android:name=".GroupDetails" />
        <activity android:name=".RegisterPasscode" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->


        <activity android:name=".MainActivity">

          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->


        </activity>
        <activity android:name=".AccountInfoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SetmPIN" />
        <activity android:name=".SuccessMPIN" />
        <activity android:name=".SendMoneyActivity" />
        <activity android:name=".RequestMoney" />
        <activity
            android:name=".BeneficiaryDetail"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SendConfirmUPImPIN" />
        <activity android:name=".TransactionResult" />
        <activity android:name=".SendAccountIFSC" />
        <activity android:name=".TransactionsActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".TestScrollPager">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".COA" />
        <activity android:name=".SocialPayment" />
        <activity android:name=".ChatDetail" />
        <activity
            android:name=".SendMoneyDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />


        <activity
            android:name=".SendMoneyAcIFSCDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".SendConfirmUPImPINDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".TransactionResultDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme" />
        <activity android:name=".FilterActivity"
            tools:ignore="DuplicateActivity"></activity>
    </application>

</manifest>